{{ form_start(form, {'attr': {'method': 'post'}}) }}
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <h3>Your personal informations</h3>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="input-field">
                        {{ form_label(form.gender, 'Gender', {'label_attr': {'class': 'active'}}) }}
                        {{ form_widget(form.gender) }}
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="input-field">
                        {{ form_label(form.firstName, 'Firstname') }}
                        {{ form_widget(form.firstName) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="input-field">
                        {{ form_label(form.lastName, 'Lastname') }}
                        {{ form_widget(form.lastName) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="input-field">
                        {{ form_label(form.currentLocation, 'Current Location') }}
                        {{ form_widget(form.currentLocation) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-field">
                        {{ form_label(form.adress, 'Address') }}
                        {{ form_widget(form.adress) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="file-field input-field"
                        style="margin-top: 32px;">
                        <div class="btn btn-lg primary waves-effect waves-light">
                            <span><i class="material-icons">insert_photo</i> Photo</span>
                            {{ form_widget(form.profilPicture, {'attr' : {'accept': '.pdf,.jpg,.doc,.docx,.png,.gif', 'size': '20000000'}}) }}
                        </div>
                        <div class="existing-file">
                            <a href="#!" target="_blank"><i class="material-icons">&#xE24D;</i> <p>{{candidate.profilPicture}}</p> </a>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload your ID photo" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-field">
                                {{ form_label(form.country, 'Country') }}
                                {{ form_widget(form.country) }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-field">
                                {{ form_label(form.nationality, 'Nationality') }}
                                {{ form_widget(form.nationality) }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-field">
                                {{ form_label(form.dateOfBirth, 'Birthdate', {'label_attr': {'class': 'active'}}) }}
                                {{ form_widget(form.dateOfBirth, {'attr': {'class': 'datepicker'}}) }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-field">
                                {{ form_label(form.placeOfBirth, 'Birthplace') }}
                                {{ form_widget(form.placeOfBirth) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-40">
                <h3 class="text-extrabold">Your professional profile</h3>
                <div class="col-xs-12 col-sm-6">
                    <div class="card card-panel passport">
                        {{ form_widget(form.passport) }}
                        {{ form_label(form.passport, 'Do you have a passport ?', {'label_attr' : {'class' : 'labelpassport'}}) }}
                        <div class="file-field input-field">
                            <div class="btn btn-lg primary waves-effect waves-light">
                                <span><i class="material-icons">&#xE24D;</i> Passport</span>
                                {{ form_widget(form.passportFile, {'attr': {'size': '20000000', 'accept': '.pdf,.jpg,.doc,.docx,.png,.gif'}}) }}
                            </div>
                            <div class="existing-file">
                                <a href="#!" target="_blank"><i class="material-icons">&#xE24D;</i> {{candidate.passportFile}}</a>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload your passport" readonly>
                            </div>
                        </div>
    
                        <div class="file-field input-field">
                            <div class="btn btn-lg primary waves-effect waves-light">
                                <span><i class="material-icons">&#xE24D;</i> CV</span>
                                {{ form_widget(form.cvFile, {'attr': {'size': '20000000', 'accept': '.pdf,.jpg,.doc,.docx,.png,.gif'}}) }}
                            </div>
    
                            <div class="existing-file">
                                <a href="{{ asset('assets/img/' ~ candidate.cv) }}" target="_blank"><i class="material-icons">&#xE24D;</i> {{candidate.cv}}</a>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload your Curriculum Vitae" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="input-field">
                                {{ form_widget(form.availability) }}
                                {{ form_label(form.availability, 'Are you available?', {'label_attr': {'class' : 'active'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="input-field" style="margin-top: 5px;">
                            {{ form_widget(form.jobCategory) }}
                            <label for="job_sector" class="active">Interest in job sector</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="input-field">
                            {{ form_label(form.experience, 'Your experience', {'label_attr': {'class' : 'active'}}) }}
                            {{ form_widget(form.experience) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <div class="input-field">
                        {{ form_label(form.description, 'Short description for your profile, as well as more personnal informations (e.g. your hobbies/interests ). You can also paste any link you want. (255 characters max.)')}}
                        {{ form_widget(form.description)}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#!" class="btn btn-block btn-lg border primary waves-effect waves-light"><i class="fa fa-long-arrow-left"></i> Back home</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4">
                    <button class="btn btn-block btn-lg gradient secondary waves-effect waves-light"><strong>UPDATE</strong> NOW</button>
                </div>
            </div>
        </div>
    </section>
{{ form_end(form) }}